{% extends "base.html" %}
{% block content %}
    <h2>{{ user.username }}</h2>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <h3>Feeds</h3>
    <ul>
        {% for feed in user_feeds %}
            <li>
                <a href='{% url "feed" feed.id %}'>{{ feed.feed_url }}</a>
            </li>
        {% endfor %}
    </ul>
    <h3>Uploads</h3>
    {% if user_uploads %}
        <p>Uploaded files:</p>
    {% else %}
        <p>No uploaded files yet.</p>
    {% endif %}
    <ul id="uploads-list">
        {% for upload in user_uploads %}
            <li id="upload-{{ upload.id }}">
                <a href="{{ upload.get_absolute_url }}">{{ upload }}</a>
                <p>
                    Description: <span id="description-{{ upload.id }}">{{ upload.description|default:"No description" }}</span>
                    {% if upload.notes %}
                        <br>
                        Notes: {{ upload.notes }}
                    {% endif %}
                </p>
                <form method="post" action="{% url 'delete_upload' %}">
                    {% csrf_token %}
                    <input type="hidden" name="file_id" value="{{ upload.id }}">
                    <button type="submit">Delete</button>
                </form>
                <form method="post"
                      hx-post="{% url 'edit_description' %}"
                      hx-target="#description-{{ upload.id }}"
                      hx-swap="innerHTML">
                    {% csrf_token %}
                    <input type="hidden" name="file_id" value="{{ upload.id }}">
                    <input type="text" name="description" placeholder="New description" required>
                    <button type="submit">Edit description</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
