html {
  max-width: 70ch;
  padding: calc(1vmin + 0.5rem);
  margin-inline: auto;
  font-size: clamp(1em, 0.909em + 0.45vmin, 1.25em);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color-scheme: light dark;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
}

.title {
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-inline: auto;
}

.leftright {
  display: flex;
  justify-content: center;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

textarea {
  width: 100%;
  height: 10rem;
  resize: vertical;
}

.messages {
  list-style-type: none;
}

.error {
  color: red;
}

.success {
  color: green;
}
