{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description"
              content="{% block description %}FeedVault - A feed archive{% endblock %}">
        <meta name="keywords"
              content="{% block keywords %}RSS, Atom, Feed, Archive{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}<title>FeedVault</title>{% endblock %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        {% if canonical_url %}<link rel="canonical" href="{{ canonical_url }}">{% endif %}
    </head>
    <body>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                {% endfor %}
            </ul>
            <hr>
        {% endif %}
        <span class="title">
            <h1>
                <a href="{% url 'feeds:index' %}">FeedVault</a>
            </h1>
        </span>
        <div class="leftright">
            <div class="left">
                <small>Archive of <a href="https://en.wikipedia.org/wiki/Web_feed">web feeds</a>. {{ feed_count }} feeds. ~{{ database_size|floatformat:2 }} MB.</small>
            </div>
            <div class="right">
                <!-- Search -->
                <form action="#" method="get">
                    <input type="text" name="q" placeholder="Search">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
        <nav>
            <small>
                <div class="leftright">
                    <div class="left">
                        <a href="{% url 'feeds:feeds' %}">Feeds</a> | <a href="{% url 'feeds:api' %}">API</a> | <a href="https://github.com/TheLovinator1/FeedVault">GitHub</a> | <a href="https://github.com/sponsors/TheLovinator1">Donate</a>
                    </div>
                    <div class="right">
                        <a href="">Register</a> | <a href="">Login</a>
                    </div>
                </div>
            </small>
        </nav>
        <hr>
        {% block content %}<!-- default content -->{% endblock %}
        <hr>
        <footer>
            <small>
                <div class="leftright">
                    <div class="left">
                        Made by <a href="">Joakim Hellsén</a>.
                    </div>
                    <div class="right">No rights reserved.</div>
                </div>
                <div class="leftright">
                    <div class="left">
                        <a href="mailto:hello@feedvault.se">hello@feedvault.se</a>
                    </div>
                    <div class="right">
                        <a href="">Terms of Service</a> | <a href="">Privacy Policy</a>
                    </div>
                </div>
            </small>
        </footer>
    </body>
</html>
