{{ define "content" }}
<h2>Donate</h2>
<p>
    tl;dr: <a href="https://github.com/sponsors/TheLovinator1">GitHub Sponsors</a>
</p>
<p>
    FeedVault is a free service, and will always be free. However, if you wish to support the project, you can do so by donating to the developer.
</p>
<h3>What will the money be used for?</h3>
<p>
    The money will be used to pay for the server costs, domain name, and other expenses related to running the service.
</p>
<h3>How much does it cost to run FeedVault?</h3>
<p>Domain name: 12 € / 13 $ / 10 £ per year</p>
<h3>How can I donate?</h3>
<p>
    The preferred method of donating is through <a href="https://github.com/sponsors/TheLovinator1">GitHub Sponsors</a> due to no fees being taken. However, you can also donate through <a href="https://www.paypal.com/donate/?hosted_button_id=9EU45BXAEUGFC">PayPal</a>.
</p>
<h3>Crypto</h3>
<p>
    You can also donate through cryptocurrency. The addresses are listed below. If you wish to donate through a cryptocurrency not listed below, please <a href="mailto:hello@feedvault.se">contact me</a>.
</p>
<h4>Bitcoin</h4>
<p>
    <a href="bitcoin:bc1qdgm09zzxllzh4m2edyyx7khwhw5mjrwe0d2dws?message=FeedVault">bc1qdgm09zzxllzh4m2edyyx7khwhw5mjrwe0d2dws</a>
</p>
<h4>Monero</h4>
<p>
    <a href="monero:83Hft9zJKPNgMrLAZQ7hhTBeJ6v9bJFJ7P7xfWLRDCiyg4QDwstnjc79Fdn5Y8uY5Hfddj52ok9JF8uisU9UXDJjT4Msevx">83Hft9zJKPNgMrLAZQ7hhTBeJ6v9bJFJ7P7xfWLRDCiyg4QDwstnjc79Fdn5Y8uY5Hfddj52ok9JF8uisU9UXDJjT4Msevx</a>
</p>
<h3>Thank you!</h3>
<p>Thank you for supporting FeedVault!</p>
{{ end }}
