{% extends "base.html" %}
{% block title %}<title>Feeds</title>{% endblock %}
{% block description %}FeedVault - A feed archive{% endblock %}
{% block keywords %}RSS, Atom, Feed, Archive{% endblock %}
{% block content %}
    {% for feed in feeds %}
        <div class="feed">
            <h2>
                <a href="{{ feed.url }}">
                    {% if feed.title %}
                        {{ feed.title }}
                    {% else %}
                        {{ feed.url }}
                    {% endif %}
                </a>
            </h2>
            <p>
                {% if feed.created %}Added {{ feed.created|date:"F j, Y" }}{% endif %}
                {% if feed.last_updated %}
                    {% if feed.created %}·{% endif %}
                    Last updated {{ feed.last_updated|date:"F j, Y" }}
                {% endif %}
            </p>
        </div>
    {% empty %}
        <p>No feeds found.</p>
    {% endfor %}
{% endblock %}
