{% extends "base.html" %}
{% block title %}<title>Feeds</title>{% endblock %}
{% block description %}FeedVault - A feed archive{% endblock %}
{% block keywords %}RSS, Atom, Feed, Archive{% endblock %}
{% block content %}
    {% for feed in feeds %}
        <div class="feed">
            <h2>
                <a href="{{ feed.url }}">{{ feed.title }}</a>
            </h2>
            <p>{{ feed.description }}</p>
            <p>
                <small>Updated {{ feed.updated }}</small>
            </p>
        </div>
    {% empty %}
        <p>No feeds found.</p>
    {% endfor %}
{% endblock %}
