{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <h2>Welcome, {{ user.username }}!</h2>
        <p>
            Input the URLs of the feeds you wish to archive below. You can add as many as needed, and access them through the website or API. Alternatively, include links to .opml files, and the feeds within will be archived.
        </p>
        <form action='{% url "feeds:add" %}' method='post'>
            {% csrf_token %}
            <textarea id="urls" name="urls" rows="5" cols="50" required></textarea>
            <button type="submit">Add feeds</button>
        </form>
        <br>
        <h2>Upload</h2>
        <p>
            You can also upload files containing the feeds you wish to archive.
            Currently supported file formats: .opml, .xml, .json. Your file will be parsed in the future if not currently supported. Feel free to upload databases, backups, or any other files containing feeds. The service will parse the files and add the feeds to the archive.
        </p>
        <form enctype="multipart/form-data"
              method="post"
              action="{% url 'feeds:upload' %}">
            {% csrf_token %}
            <p>
                <input type="file" name="file" id="file" required>
            </p>
            <button type="submit">Upload feeds</button>
        </form>
    {% else %}
        <h2>Welcome to FeedVault!</h2>
        <p>
            FeedVault is a service that archives web feeds. It allows users to access and search for historical content from various websites. The service is designed to preserve the history of the web and provide a reliable source for accessing content that may no longer be available on the original websites.
        </p>
        <p>
            You need to <a href='{% url "feeds:login" %}'>login</a> or <a href='{% url "feeds:register" %}'>register</a> to add new feeds or upload files.
        </p>
    {% endif %}
    <h2>FAQ</h2>
    <details>
        <summary>What are web feeds?</summary>
        <p>
            Web feeds are a way to distribute content on the web. They allow users to access updates from websites without having to visit them directly. Feeds are typically used for news websites, blogs, and other sites that frequently update content.
            <br>
            You can read more about web feeds on <a href="https://en.wikipedia.org/wiki/Web_feed">Wikipedia</a>.
        </p>
        <hr>
    </details>
    <details>
        <summary>What is FeedVault?</summary>
        <p>
            FeedVault is a service that archives web  It allows users to access and search for historical content from various websites. The service is designed to preserve the history of the web and provide a reliable source for accessing content that may no longer be available on the original websites.
        </p>
        <hr>
    </details>
    <details>
        <summary>Why archive feeds?</summary>
        <p>
            Web feeds are a valuable source of information, and archiving them ensures that the content is preserved for future reference. By archiving feeds, we can ensure that historical content is available for research, analysis, and other purposes. Additionally, archiving feeds can help prevent the loss of valuable information due to website changes, outages, or other issues.
        </p>
        <hr>
    </details>
    <details>
        <summary>How can I access the archived feeds?</summary>
        <p>
            You can access the archived feeds through the website or API. The website provides a user interface for searching and browsing the feeds, while the API allows you to access the feeds programmatically. You can also download the feeds in various formats, such as JSON, XML, or RSS.
        </p>
    </details>
{% endblock %}
