{{ define "content" }}
<article>
    <header>
        <h1>Privacy Policy</h1>
    </header>
    <p>
        Last Updated:
        <time datetime="2024-02-04">
            February 4, 2024
        </time>
    </p>
    <section>
        <h2>Information Collection</h2>
        <p>We gather the following data:</p>
        <ul>
            <li><strong>Log Files:</strong> These files contain details about your IP address, browser, and operating system.</li>
            <ul>
                <li>This information is collected for debugging purposes and to enhance website performance.</li>
                <li>Log files are automatically removed after a specific timeframe.</li>
                <li>They are not linked to any personal information, shared with third parties, or used for marketing purposes.</li>
                <li>Furthermore, log files are not utilized to track your activity on other websites.</li>
            </ul>
            <li><strong>Cloudflare:</strong> We use Cloudflare to secure and optimize our website.</li>
            <ul>
                <li>Cloudflare may collect your IP address, cookies, and other data.</li>
                <li>For more information, please review Cloudflare's <a href="https://www.cloudflare.com/privacypolicy/">privacy policy</a>.</li>
            </ul>
        </ul>
    </section>
    <section>
        <h2>User Rights</h2>
        <p>
            You have the right to access, correct, or delete your information. Any privacy-related inquiries can be directed to us using the contact information provided at the end of this document.
        </p>
    </section>
    <section>
        <h2>Changes to the Privacy Policy</h2>
        <p>
            This privacy policy may be revised. You can review the revision history of this document on our GitHub repository <a href="https://github.com/TheLovinator1/FeedVault/blob/master/templates/privacy.tmpl">here</a>.
        </p>
    </section>
    <section>
        <h2>Contact Information</h2>
        <p>
            For privacy concerns or questions, you can reach us via email at <a href="mailto:hello@feedvault.se">hello@feedvault.se</a> or by creating an issue on our <a href="https://github.com/TheLovinator1/FeedVault/issues">GitHub repository</a>.
        </p>
        <p>Cloudflare's contact information can be found <a href="https://www.cloudflare.com/privacypolicy/">here</a>.</p>
    </section>
</article>
{{ end }}
