{% extends "base.html" %}
{% block content %}
    <h2>
        Searched for:
        "{{ query }}"
    </h2>
    {% if entries %}
        {% for entry in entries %}
            <a href="{{ url_for('feed', feed_url=entry.feed_url) }}">{{ entry.feed_url }} →</a>
            <br>
        {% endfor %}
    {% else %}
        <p>No entries found.</p>
    {% endif %}
    {% if next_feed and next_entry %}
        <a href='{{ url_for("search") }}?query={{ query }}&next_feed={{ next_feed }}&next_entry={{ next_entry }}'>Next</a>
    {% endif %}
    {% if prev_feed and prev_entry %}
        <a href='{{ url_for("search") }}?query={{ query }}&prev_feed={{ prev_feed }}&prev_entry={{ prev_entry }}'>Previous</a>
    {% endif %}
{% endblock content %}
