{{ define "content" }}
<article>
    <header>
        <h1>Terms of Service</h1>
    </header>
    <p>
        Last Updated:
        <time datetime="2024-02-04">
            February 4, 2024
        </time>
    </p>
    <section>
    <h2>Content Policy</h2>
    <p>
        Users are prohibited from uploading any content that is illegal under Swedish law. Any such content found on our platform will be removed. If this happens repeatedly, the user will be banned from using our platform.
       <br>
       <br>
        You can report any content that you believe violates our content policy by sending an email to <a href="mailto:hello@feedvault.se">hello@feedvault.se</a>. Please include the URL of the content in question and a brief description of why you believe it violates our content policy.
    </p>
    <h2>Copyright Policy</h2>
    <p>
        We will remove URLs that are used to share copyrightable information without the necessary permissions or licenses.
    </p>
    <h2>Web Scraping</h2>
    <p>
        Web scraping is permitted on our platform. We currently do not impose a rate limit on requests.
    </p>
    <h2>API Usage</h2>
    <p>
        Our API is free to use. We do not impose any rate limits on requests. 
    </p>
    </section>
</article>
{{ end }}
